* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reader {
  width: 100vw;
  height: 100%;
  position: relative;
}

.reader-camera {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.modal-overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-overlay.show {
  display: flex;
}